
<div class="sidebar-container">
    <span class="search-group">
        <input #term (keyup)="search(term.value)" id="search-bar" type="text" placeholder="Search"/>
      </span>
      <div class="product-dropdown-list">
        <ul id="product-dropdown">
          <li *ngFor = "#product of products">{{product.title}}</li>
        </ul>
      </div>
    <div class="product-filter">
        <h3 class="filter-head">PRODUCT FILTER</h3>
        <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">CATEGORIES</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <form>
                                <label class="checkbox-elem" *ngFor = "#item of productList"><input type="checkbox">  {{item}}</label>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">MATERIAL</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form>
                                <label class="checkbox-elem" *ngFor = "#item of material"><input type="checkbox">  {{item}}</label>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">PRICE</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                           <form>
                               <label class="checkbox-elem" *ngFor = "#item of price"><input type="checkbox">  {{item}}</label>
                           </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>

</div>
